body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
    /*----------heading-----------*/
.head-wrapper{
    background-color: #2D25A0;

}
.nav-links{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-left: 120px;
    
}
.nav-links ul li{
    display: inline-block;
    padding:10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;

}
.icon{
    margin-top: 20px;
    margin-right: 50px;
    cursor: pointer;
    
}
.icon a , span{
    color: white;

}
.fas  {
    padding-right: 10px;
}
.head-content{
    display: flex;
}
.head-content-text{
    font-family:'Poppins', sans-serif ;
    font-style: bold;
    font-size:1em;
    font-weight: 700;
    color: white;
    width: 491px;
    height:230px;
    margin-left: 161px;

}
.head-content-img img{
    margin-left: 100px;
    width: 549px;
    height:44p5x;
}



.btn1{
    background-color:red;
   padding-left: 10px;
   padding-right: 10px;
    height:58px;
    border: none;
    color: white;
    cursor: pointer;
}
.btn1 a{
    text-decoration: none;
    color: white;
}
.btn1 .fas{
    padding-left:15px;
   }
.head-wrapper:hover button{
    transform:scale(1.5);
    transition: transform 1s;
}

     /*-------main---------*/
.main-first-content{
    margin-left: 180px;
    margin-right: 100px;
    margin-top:70px ;
    justify-content: center;
    display:grid;
    grid-template-columns:repeat(3, 1fr) ;
    
}

.main-content-wrapper{
    padding: 10px 10px;
    height:474px;
    width:330px;
    justify-content: center;
    
    background-color: white;
    box-shadow: 3px 3px 3px 5px gray;
    margin-bottom: 50px;
}
.main-content-wrapper img{
    width:300px;
    height:256;
    margin-top: 10px;
    margin-left: 15px;

}
.main-content-text{
    padding-left: 20px;
}

    /*------main second content-------*/
.main-second-content{
    display:flex;
   flex-wrap: wrap;
}
.about{
    text-align: center;
    padding:20px;

}
.main-second-content-wrapper{
justify-content: center;
background-color:#2d25a091;
margin-top: 100px;
margin-bottom:100px;
margin-left:187px;
margin-right: 180px;
}
.main-second-content{
    justify-content: center;
    margin-top: 100px;

}

.main-second-content-texts{
    width:500px;
    height:400px ;
    margin-left: 200px;
    

}






/*------main extra content-------*/






.main-extra-content-img img{
    width:567px;
    height:427px;
    margin-left:50px;
}
.main-extra-content{
    display:flex;
    flex-wrap: wrap;
    margin-top: 100px;
     margin-left:182px;
     margin-right:182px;
}


.main-extra-content-text{
    width:466px;
    
}
.btn2{
    background-color: #E02C6D;
    border: none;
    padding:10px;
    
}
.btn2 a{
   text-decoration: none;
   color: white;
}
/*--------follow------*/
.followers-wrapper{
    margin-top :250px ;
    margin-left: 200px;
    margin-right:200px;
    margin-bottom:100px;

    padding:10px;
    box-shadow:10px 10px 10px 15px grey

}
.follow-content1{
    margin-left:500px;
    padding:10px;
    justify-content:center;
}
.follow-content2{
    display:flex;
    justify-content:center;
    
}
.follow-content{
    margin:30px;
}



    /*---footer---*/


footer{
    margin-top: 100px;
    justify-content:center;
    align-items: center;
    margin-left: 475px;
    margin-right:475;
}
footer img{
    width: 483px;
    height:213px;
}
.footer-icons{
    display: flex;
    margin-left:300px;
    
}
.logo-icon{
    padding:5px;
    
}
.logo-icon .fab{
    height:100px;
}
footer p{
    justify-content: center;
    margin-top: 0;
    margin-left: 200px;
}




/*---------media querri---------*/

@media ( max-width:500px) {
    .head-wrapper{
        width: 490px;
    }
    .head-content{
        
        flex-direction:column;
        

    }
    .nav-links{
        margin-left: 0;
        display:none;

    }
    .head-content-text{
        width:200px;
        margin-left: 30;
    }
    .head-content-img img{
        margin-top: 100px;
        margin-right: 100px;
        margin-left: 80px;

        width:400px
    }

    .main-first-content{
        justify-content: center;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
    .main-second-content-wrapper{
        
    }
    .main-second-content-texts{
        width: 400px;
        height: 50%;
        margin-right: 200px;
    }

    .main-extra-content{
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin-right:50px;
    }
    .main-extra-content-img img{
        margin-right:100px ;
        margin-top: 50px;
        width: 300px;
        height: 248px;

        
    }
    .main-extra-content-text{
        justify-content: center;
        width: 350px;
    }
 
/*  foooter*/

   footer{
       margin-left: 200px;
       justify-content:center;
   }

   footer img{
       margin-top: 50px;
       width:300px;
       height:100px;
   }
   .footer-icons{
       margin-left:80px;
   }
    .footer-icon{
       font-size:2em;
        padding:10px;
    }
    footer p{
        margin-left: 80px;
    }
}









