body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
    /*----------heading-----------*/
.head-wrapper{
    background-color: #2D25A0;

}
.nav-links{
    display: flex;
    justify-content:space-between;
    margin-left: 200px;
    
}
.nav-links ul li{
    display: inline-block;
    padding:10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;

}
.icon{
    margin-top: 20px;
    margin-right: 50px;
    cursor: pointer;
    
}
.icon a , span{
    color: white;

}
.fas  {
    padding-right: 10px;
}
.head-content{
    margin-left: 200px;
    display:flex;
    flex-wrap: wrap;
    margin-top: 50px;

}
.head-texts{
    height:230px;
    width:487px;
}
.head-texts h1{
    line-height:80px;
    color: white;
    font-family:'Poppins', sans-serif; ;
    font-size:4em ;
    font-style: bold;
}
.btn1{
    background-color:red;
   padding-left: 20px;
   padding-right: 20px;
    height:58px;
    border: none;
    color: white;
    transition: 1s;
    cursor: pointer;
    

}
.btn1 .fas{
 padding-left:15px;
}
.btn1 a{
    text-decoration:none;
    color: white;
}
.btn1:hover{
    transform: translate();
}
  
.head-img {
    width:50%;
    margin-left: 50px;
    
}
.head-img img{
    width:100%;
}


     /*-------main---------*/
.main-first-content{
    margin-left: 180px;
    margin-top:70px ;
    justify-content: center;
    display:grid;
    grid-template-columns:repeat(3, 1fr) ;
    
}

.main-content-wrapper{
    height:474px;
    width:330px;
    justify-content: center;
    box-shadow:5px 5px 5px 5px  gray;
    margin-bottom: 50px;
}
.main-content-wrapper img{
    width:100%;
}
.main-content-text{
    padding-left: 20px;
}

/*------main extra content-------*/

.main-extra-content-img img{
width:567px;
height:427;
margin-left:50px;


}
.main-extra-content{
    display: flex;
    margin:50px 187px;

}
.main-extra-content-text{
    width:466;
    height:309;
}
.btn2{
    background-color: #E02C6D;
    border: none;
    padding:10px;
    
}
.btn2 a{
   text-decoration: none;
   color: white;
}

footer{
    justify-content:center;
    align-items: center;
    margin-left: 475px;
    margin-right:475;
}
footer img{
    width: 483px;
    height:213px;
}
.footer-icons{
    display: flex;
    margin-left:300px;
    
}
.logo-icon{
    padding:5px;
    
}
.logo-icon .fab{
    height:100px;
}