body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
    /*----------heading-----------*/
.head-wrapper{
    background-color: #3f37a7;
    

}

.head-content{
    display: flex;
    
}
.head-content-text{
    font-family:'Poppins', sans-serif ;
    font-style: bold;
    font-size:1em;
    font-weight: 700;
    color: white;
    width: 491px;
    height:230px;
    margin-left: 161px;
    margin-top: 30px;

}
.head-content-img img{
    margin-left: 100px;
    width: 549px;
    height:44p5x;
    margin-top:30px;
}



.btn1{
    background-color:red;
   padding-left: 10px;
   padding-right: 10px;
    height:58px;
    border: none;
    color: white;
    cursor: pointer;
}
.btn1 a{
    text-decoration: none;
    color: white;
}
.btn1 .fas{
    padding-left:15px;
   }
.head-wrapper:hover button{
    transform:scale(1.5);
    transition: transform 1s;
}

     /*-------main---------*/
.main-first-content{
    margin-left: 180px;
    margin-right: 100px;
    margin-top:70px ;
    justify-content: center;
    display:grid;
    grid-template-columns:repeat(3, 1fr) ;
    
}

.main-content-wrapper{
    padding: 10px 10px;
    height:474px;
    width:330px;
    justify-content: center;
    
    background-color: white;
    box-shadow: 3px 3px 3px 5px gray;
    margin-bottom: 50px;
}
.main-content-wrapper img{
    width:300px;
    height:256;
    margin-top: 10px;
    margin-left: 15px;

}
    

    /*------main second content-------*/
    .about{
        margin-top:50px;
    }
    .about h1{
        text-align: center;
        margin-top: 50px;
        padding:50px;
    }
.main-second-content{
    display: flex;
    justify-content: center;


}
.main-second-content-wrapper{
    background-color:#3e37a748;
    margin-left:170px;
    margin-right:170px;
}
.main-second-content-texts{
    width:50%;
    padding:50px;
}
.main-second-content-img img{
    width:300px;
    height:300px;
    margin-bottom: 50px;
}

/*------main extra content-------*/
.main-extra-content{
    margin-top:100px;
 display: flex;
 justify-content: center;
}
.main-extra-content-text{
 width:466px;
 height:309px;
}
.main-extra-content-img img{
    width:550px;
    height: 416px;
}
.btn2{
    color:white;
    padding:10px;
    background-color:red;
    border:none;
}
.btn2 a{
    text-decoration:none;
    color:white;
}


/*--------follow------*/
  .followers-wrapper{
      text-align: center;
      
      margin-left:170px;
      margin-right: 170px;
      margin-top:100px;
  }
 .follow-content1{
     text-align:center;
     padding:40px;
 }
 .follow-content2{
     display:flex;
     justify-content: center;
 }
  .follow-content{
      margin: 10px;
  }
    /*---footer---*/


   .footer-wrapper{
       margin-top: 100px;
       width:483px;
       height:213px;
       margin-left: 400px;
       
   }
   .footer-logo img{
       width:300px;
       margin-left: 100px;

   }
   .footer-icons{
       display:flex;
      margin-left:200px;
       
   }
   .logo-icon{
       padding:10px;
       font-size: 30px;

   }
   .footer-wrapper p{
       text-align: center;
       margin-left: 50px;
   }






/*--------- media query for i phone x--------*/

@media screen and (max-width:375px){
      .head-wrapper{
          width:375px;
          
      }
      .head-content{
          flex-direction:column;
          margin:0px
      }
      .head-content-text{
          width:200px;
          font-size:15px;
          margin-left:100px;
          padding:0;
      }
          .btn1{
           padding-left: 10px;
           padding-right: 10px;
            height:30px;

      }
      .head-content-img img{
        margin-top: 30px;
        width:250px;
        height:200px;
        
          
  
        }

        /*----main first----*/
     .main-first-content{
         grid-template-columns: repeat(1 ,1fr);
         margin-left:120px;
     }
     .main-first-content-wrapper{
         width:200px;
         
         margin: 0;
     }
      
/*main second content*/

     .main-second-content{
         flex-direction:column;
     }

     .main-second-content-wrapper{
         width:360px;
         height:950px;
         margin: 0;
         padding: 0;
     }
     .main-second-content-img img{
         margin-left:35px;
     }
     .main-second-content-texts{
         margin-left:40px;
         margin-top:0px;

     }
   .about h1{
       width:100px;
       margin-left:100px;
       padding: 0px;
   }

    .main-extra-content{
      flex-direction:column;
    }
     .main-extra-content-img img{
         width:300px;
         margin-top: 100px;
         margin-left: 30px;;
         height:100%;
     }
     .main-extra-content-text{
         width:300px;
         height:300px;
         margin-left: 50px;
     }
     /* followww------*/
     
       .followers-wrapper{
        

       }
      .follow-content1{
          margin-right: 200px;
      }



       /*footer-----*/

      .footer-wrapper{
          margin-right:200px;
          margin-left:0;
          width:300px;
             
    }
    .footer-logo img{
        width: 200px;
        margin-left:50px;
 
    }
    .footer-logo{
        width: 200px;

    }
    
    .footer-icons{
        margin-left:70px;;
        width:100px;
    
 
    }
    .footer-wrapper p{
        text-align: center;
    }

}


